
.contact{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1344px ;
    top: 200px;
    order:3;
    z-index:3;
}

.contact > button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

@media screen and (max-width: 800px)
{
    
    .contact{
        width: 36px;
        height: 36px;
        left: 722px ;
        top: 222px;
    }

    .contact > button{
        width: 36px;
        height: 36px;
        
    }
}

@media screen and (max-width: 600px)
{
    
    .contact{
        position: sticky;
        width: 56px;
        height: 56px;
        left: 515px ;
        top: 330px;
        order: 1;
        z-index: 1;
    }

    .contact > button{
        width: 56px;
        height: 56px;
        border-radius: 28px;
    }
}